<% @messages.each do |message| %>
<div class="box11">
<% @person = Person.find_by(name: message.person)%>
    <a href="/people/<%=@person.id%>">
    <img src=<%="#{@person.image}" %> alt="person" align="left">
    </a>
    <a class="detail_of_message" href="/messages/<%=message.id%>">
    <h3><%=message.title%></h3>
    <h6><%=message.person%></h6>
    <h6><%=message.language%></h6><br>
    <p clear="left"><%=message.content%></p>
    </a>
</div>
<% end %>