<% @person = Person.find_by(name: @message.person)%>

<div class="box11">
<% @person = Person.find_by(name: @message.person)%>
    <a href="/people/<%=@person.id%>">
    <img src=<%="#{@person.image}" %> alt="person" align="left">
    </a>
    <a class="detail_of_message" href="/messages/<%=@message.id%>">
    <h3><%=@message.title%></h3>
    <h6><%=@message.person%></h6>
    <h6><%=@message.language%></h6><br>
    <p clear="left"><%=@message.content%></p>
    <p clear="left" align="right"><%=@message.created_at%></p>
    </a>
</div>

<script>
    function delData(num){
        if (confirm("このデータを削除しますか？")){
            document.location = "/messages/delete/" + num;
        }
        return false;
    }
  </script>