<table class="table">
 <tr>
   <th>Id</th><th>Name</th><th>Mail</th><th>Native Language</th><th>Language Studied</th><th>Edit</th><th>Delete</th>
</tr>
<% @people.each do |obj| %>
    <tr>
      <td><%= obj.id %></td>
      <td><a href="/people/<%=obj.id%>"><%= obj.name %></a></td>
      <td><%= obj.email %></td>
      <td><%= obj.native_language %></td>
      <td><%= obj.language_to_study %></td>
      <%if current_person != nil %>
      <%if obj.id == current_person.id %>
      <td>
        <a href="/people/edit_profile/<%= obj.id %>">Edit</a>
      </td>
      <td>
        <a href="javascript:delData(<%=obj.id %>);">Delete</a>
      </td>
      <%else %>
        <td> </td><td></td>
      <% end %>
      <% end %>
    </tr>
<% end %>
      <script>
        function delData(num){
            if (confirm("このデータを削除しますか？")){
                document.location = "/people/delete/" + num;
            }
            return false;
        }
      </script>
    </table>