<%if @person.native_language == nil || @person.language_to_study == nil%>
<% re%>
<h1>空<h1>
<% end %>
  
  <div id="ww">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
        <%if @person.image.length == 0 %>
          <img src="/person_images/user.png" alt="Stanley">
        <% else %>
          <img src=<%="#{@person.image}" %> alt="Stanley">
        <% end %>
          <h1><%=@person.name%></h1>
          <h5>native language : <%=@person.native_language%></h5>
          <h5>language I study : <%=@person.language_to_study%></h5>
          <p><%=@person.self_introduction %></p>
          <%if current_person != nil %>
          <%if @person.id == current_person.id %>
            <a href="/people/edit_profile/<%= @person.id %>">Edit</a>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </tr>

  <body>
  <div id="open">
    詳細をみる
  </div>
  <div id="mask" class="hidden"></div>
  <section id="modal" class="hidden">
    <p>He said that that that that that boy used in the sentence was wrong.<br>あの少年がその文で使ったあのthatは間違っていたと彼は言った。</p>
    <div id="close">
      閉じる
    </div>
  </section>
  
</body>

<script>
'use strict';
{
  const open = document.getElementById('open');
  const close = document.getElementById('close');
  const modal = document.getElementById('modal');
  const mask = document.getElementById('mask');

  open.addEventListener('click', function () {
    modal.classList.remove('hidden');
    mask.classList.remove('hidden');
  });
  close.addEventListener('click', function () {
    modal.classList.add('hidden');
    mask.classList.add('hidden');
  });
  mask.addEventListener('click', function () {
    modal.classList.add('hidden');
    mask.classList.add('hidden');
  });
}
</script>
  