
  <div id="ww">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
          <img src=<%="#{@person.image}" %> alt="Stanley">
          <h1><%=@person.name%></h1>
          <h5>native language : <%=@person.native_language%></h5>
          <h5>language I study : <%=@person.language_to_study%></h5>
          <p><%=@person.self_introduction %></p>
          <%if current_person != nil %>
          <%if @person.id == current_person.id %>
            <a href="/people/edit_profile/<%= @person.id %>">Edit</a>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  </tr>
        
  